<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      height: 100%;
      min-height: 100%;
      width: 100%;
    }
  </style>
  <body style="height: 500px">
    <iframe
      allow="microphone;"
      width="350"
      height="430"
      src="https://console.dialogflow.com/api-client/demo/embedded/232b88c2-4f56-47c8-bb71-02951645b2f0">
    </iframe>
  </body>
</html>
